body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


table,
th,
td {
    border: 1px solid black;
    text-align: center;
}


th{
    background-color: rgba(0, 0, 0, 0.248);
}


table{
    height: 150px;
}


#container {
    background-color: rgba(0, 0, 0, 0.127);
    width: 500px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.41);
    
    
}

